<%= turbo_frame_tag 'snippets-frame' do %>
  <div id="search-snippets">
    <%= render partial: 'channels/snippets', locals: {channel_snippets: channel_snippets} %>
  </div>
  <%= render partial: 'partials/loader' %>
<% end %>
