<%= button_to t('helpers.link.edit'), edit_tags_channel_path,
              method: :get, class: 'btn btn-xs btn-success', role: :button, remote: true %>
<% channel.tag_list.each do |tag| %>
  <span class="badge badge-primary"><%= tag %></span>
<% end %>
