<% if can?(:manage, SystemSetting) %>
  <% unless SystemSetting.auth_configured? %>
    <span class="fs-3 fw-bold text-danger">
      ⚠️
      <%= t('text.system_setting.auth_not_configured_html',
            href: link_to(t('text.system_setting.auth_not_configured_href'), system_setting_path)) %>
      ⚠️
    </span>
  <% end %>
<% end %>
