<% title = t('helpers.title.new', model: Channel.model_name.human) %>
<% content_for(:html_title) {title} %>

<h1>
  <%= title %>
</h1>

<%= render partial: 'action' %>

<%= render 'form', channel: @channel %>
