<div class="container">
  <% if subscription.prev_page_token %>
    <%= link_to raw(t('views.pagination.previous')),
                channel_lists_subscriptions_path(
                  search_channel_list_condition: {
                    token: subscription.prev_page_token,
                    per: condition.per
                  }
                ),
                class: 'btn btn-info', remote: true, data: {disable_with: t('helpers.notice.processing')} %>
  <% end %>
  <% if subscription.next_page_token %>
    <%= link_to raw(t('views.pagination.next')),
                channel_lists_subscriptions_path(
                  search_channel_list_condition: {
                    token: subscription.next_page_token,
                    per: condition.per
                  }
                ),
                class: 'btn btn-info', remote: true, data: {disable_with: t('helpers.notice.processing')} %>
  <% end %>
</div>
