<div class="row">
  <div class="col-12 alert alert-info total-subscription">
    <%= t('text.subscription.total_results') %>: <%= subscription.total_results %>
  </div>
</div>
<%= render partial: 'channel_lists/partials/channel_tables',
           locals: {channels: subscription.channels} %>
