<h1>
  <%= t('helpers.link.create_from_subscription') %>
</h1>

<%= render partial: 'actions' %>
<%= render partial: 'search_form', locals: {condition: @condition} %>

<div id="search-result"></div>
<div id="search-result-pagination"></div>
