<div class="container">
  <div class="row">
    <% if search_results.prev_page_token %>
      <%= link_to raw(t('views.pagination.previous')),
                  channel_lists_search_index_path(
                      search_channel_list_condition: {
                          token: search_results.prev_page_token,
                          per: condition.per,
                          query: condition.query
                      }
                  ),
                  class: 'btn btn-info', remote: true %>
    <% end %>
    <% if search_results.next_page_token %>
      <%= link_to raw(t('views.pagination.next')),
                  channel_lists_search_index_path(
                      search_channel_list_condition: {
                          token: search_results.next_page_token,
                          per: condition.per,
                          query: condition.query
                      }
                  ),
                  class: 'btn btn-info', remote: true %>
    <% end %>
  </div>
</div>
