<h1>
  <%= t('helpers.link.create_from_search') %>
</h1>

<%= render partial: 'actions' %>
<%= render partial: 'search_form' %>

<div id="search-result">
  <% if @search_results.present? %>
    <%= render partial: 'channels', locals: {search_results: @search_results} %>
  <% end %>
</div>
