<% title = t('helpers.title.edit', model: SystemSetting.model_name.human) %>
<% content_for(:html_title) {title} %>

<h1>
  <%= title %>
</h1>

<%= link_to t('helpers.link.show'), {controller: controller.controller_name, action: :show},
            class: 'btn btn-info', role: :button %>

<%= render 'form', system_setting: @system_setting %>
