body {
  &.dark_mode {
    .tagify__tag > div > span.tagify__tag-text {
      color: var(--tag-text-color, #000);
    }

    .tags-look {
      .tagify__dropdown__wrapper {
        background: #21252c;
      }
    }
  }
}

.tags-look {
  .tagify__dropdown__wrapper {
    background: #fff;
  }

  .tagify__dropdown__item {
    display: inline-block;
    border-radius: 3px;
    padding: .3em .5em;
    border: 1px solid #CCC;
    background: #F3F3F3;
    margin: .2em;
    font-size: .85em;
    color: black;
    transition: 0s;
  }

  .tagify__dropdown__item--active {
    color: black;
  }

  .tagify__dropdown__item:hover {
    background: lightyellow;
    border-color: gold;
  }
}
